.apropos {
    padding: 20px;
    margin: 2rem 0;
}

.apropos h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 1rem;
}

.apropos p {
    line-height: 1.6;
    max-width: 450px;
    margin: 10px auto;
}




