.banner {
    display: flex;
    align-items: center;
    padding: 20px;
}

.banner-gif {
    height: 395px;
    margin-right: 20px;
}

.banner-text h1 {
    font-size: 60px;
    margin: 0;
}

.banner-text h2 {
    font-size: 31px;
    margin: 10px 0;
}

.banner-text p {
    font-size: 18px;
    margin: 0;
}