.section-competence {
    padding: 20px;
}

.competence-h2 {
    margin-bottom: 40px;
    font-size: 32px;
}

.competence-h3 {
    text-align: center;
    font-size: 25px;
    background-color: #f9ddcf;
    //margin: 11px 420px;
    padding: 8px 0;
    width: 13%;
}

.div-frontend {
    margin-bottom: 50px;
}