.contact-container {
    width: 50%;
    margin: 64px auto;
}

.contact-h2 {
    font-size: 32px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 16px;
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Contact-submission {
    background-color: #FF6B35; 
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 4px;
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-weight: bold;
}

.Contact-submission:hover {
    background-color: #FF4C22; /* Darker shade on hover */
}

