.footer {
    padding: 20px;
    background-color: #FF6B35;
}

.footer-ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer-text {
    text-align: center;
}

.footer-icon {
    font-size: 28px;
    color: #1A3E7A;
}