.header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 1rem;
}

.header-ul {
    list-style-type: none;
    display: flex;
}

.header-ul li {
    margin-right: 20px;
}

.header-ul li:last-child {
    margin-right: 0; 
}

li a {
    text-decoration: none; 
}

.logo {
    width: 81px;
}
