.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.modal-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    position: relative;
    max-height: 80vh; /* Set maximum height */
    overflow-y: auto; /* Enable vertical scroll if content overflows */
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
}

.modal-button {
    margin-right: 23px;
    padding: 8px 20px;
    background-color: #FF6B35;
    color: #F9F9F9;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}